body {
  display: flex;
  flex-direction: column;
  height: auto;
}

.question-card {
  display: flex;
  flex-direction: column;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  margin: 0;
  width: 100%;
  background-color: red;
}

.nav-button {
  border-radius: 10px;
  padding: 7px;
  width: 70px;
}

.question-container {
  margin: 30px;
  border: solid 1px limegreen;
  padding: 10px;
  min-height: 100vh;
}

imgUrl {
  width: 50%;
}

.image-container {
  width: 70%;
  height: auto;
  border: 1px solid grey;
}

.answer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid pink;
  margin: 20px;
  padding: 20px;

  &__button {
    width: 100px;
    height: 70px;
  }
}

img {
  width: 100%;
  height: auto;
}
